#divHeader{
    border-bottom: solid 2px #AAAAAA ;
    height: 13.7vh;
    width: 100%;
    background-color: #ECEEF2;
    .sectionTitle{
        display: flex;
        flex-direction: column;
        height: 14vh;
    }
    
}