#divHeader{
    border-bottom: solid 2px #AAAAAA ;
    max-height: 15vh;
    width: 100vw;
    background-color: #ECEEF2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .sectionTitle{
        display: flex;
        flex-direction: column;
        max-height: 14vh;
        width: 100vw;
    }
    
}
@media (max-width: 768px) {
    #divHeader {
        width: 105vw;
        .sectionTitle {
            width: 122vw;
            margin: 0px 0px 0px -62px;
        }
    }
  }