form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 67vh;
    
.divisionInputsSocial {
    display: flex;
    flex-direction: column;
    width: 81%;
    padding: 0px 50px 218px 0px;
}
}
@media (max-width: 768px) {
    .divisionInputsSocial{
        min-width: 100%;
        margin: 0px -50px -88px 0px;
    }
}