form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 67vh;
    
.divisionInputsSocial {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -25px 55px 165px 55px;
}
}