p{
    padding: 29px 0px 0px 27px;
}
.Breturn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.certificates-presentation {
    display: flex;

    div p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.success-container {
    overflow-y: scroll;
    min-height: 85vh;

}

    