.BclassBasic,.BclassSocial,.BclassCertificates,.BclassCertificatesMore,.BclassCertificatesList {
    background-color: #074EE8;
    color: #FFFFFF;
    
    height: 40px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    border: none;
    cursor: pointer;
    outline: none;
}
.BclassBasic {
    width: 83px;
    margin: 60px 56px 0px 0px;
}
.BclassSocial {
    width: 83px;
    margin: 0px 58px -8px 0px
}
.BclassCertificates {
    width: 83px;
    margin: 21px 58px -8px 0px;
}
.BclassCertificatesMore {
    width: 83px;
}
BclassCertificatesList {
    width: 10vw;
}
.BclassBasic:hover {
    background: rgb(7 78 232 / 90%);
}   
.BclassSocial:hover {
    background: rgb(7 78 232 / 90%);
}
.BclassBclassCertificates:hover {
    background: rgb(7 78 232 / 90%);
}
.plus {
    height: 11px;
    width: 12px;
}

@media (max-width: 768px) {
    .BclassBasic{
        margin: 39px 0px 0px 0px;
    }
  }