.BclassBasic,.BclassSocial {
    background-color: #074EE8;
    color: #FFFFFF;
    width: 83px;
    height: 40px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    border: none;
    cursor: pointer;
    outline: none;
}
.BclassBasic {
margin: 60px 56px 0px 0px;
}
.BclassSocial {
    margin: 0px 58px -8px 0px
}
.BclassBasic:hover {
    background: rgb(7 78 232 / 90%);
}   
.BclassSocial:hover {
    background: rgb(7 78 232 / 90%);
}
