.container {
  display: flex;
  font-size: 0.9em;
  flex-direction: row-reverse;
  align-items: flex-start;
  cursor: pointer;
  font-family: "Nunito";
  color: #111111;
  margin: 20px 0px 0px 55px;
}

.container input {
  display: flex;
  opacity: 0;
  cursor: pointer;
}

.check {
  width: 1vw;
  height: 2vh;
  background: #ffffff;
  border: solid #074EE8 2px;
}

.container input:checked ~ .check {
  background: #074EE8;
  width: 100%;
}

.container .check::after {
  height: 0.8em;
}

.check:after {
  display: flex;
  align-items: center;
  content: "✓";
  color: #ffffff;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .container{
    margin: 9px 0px 0px 0px;
    font-size: 0.749em;
  }
  .check {
    width: 2.5vw;
  }
}