form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

.divisionButtonsCertificate {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 55px;
    width: 100%;
}
.DivisionCertificate {
    width: 100%;
    margin: 0px 50px 0px 55px;
}
.DivisionAfterCertificate {
    width: 100%;
    margin: 17px 55px 0px 55px;
}
}